services:
  postgres:
    image: postgres
    restart: always
    container_name: leadcode-postgres
    volumes:
      - postgres-db:/data/postgres
    ports:
      - '5444:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
    networks:
      - api-backend-network

  minio:
    image: quay.io/minio/minio
    restart: always
    container_name: leadcode-minio
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - '9002:9000' # API S3
      - '9001:9001' # Console Web
    volumes:
      - minio-data:/data
    networks:
      - api-backend-network

  api:
    build:
      context: .
    container_name: backend-site
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      TMP: ${TMP}
      DATABASE_URL: ${DATABASE_URL}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      LEADCODE_GMAIL_CLIENT_ID: ${LEADCODE_GMAIL_CLIENT_ID}
      LEADCODE_GMAIL_CLIENT_SECRET: ${LEADCODE_GMAIL_CLIENT_SECRET}
      LEADCODE_GMAIL_ACCESS_TOKEN: ${LEADCODE_GMAIL_ACCESS_TOKEN}
      LEADCODE_GMAIL_REFRESH_TOKEN: ${LEADCODE_GMAIL_REFRESH_TOKEN}
      LEADCODE_EMAIL: ${LEADCODE_EMAIL}
      TOP_FOOTER_LOGO_URL: ${TOP_FOOTER_LOGO_URL}
      SOCIAL_MEDIA_ICON_URL: ${SOCIAL_MEDIA_ICON_URL}
      TECH_CAROUSEL_IMAGE_URL: ${TECH_CAROUSEL_IMAGE_URL}
      CLIENT_AVATAR_URL: ${CLIENT_AVATAR_URL}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
    ports:
      - 3334:3334
    depends_on:
      - postgres
    networks:
      - api-backend-network

volumes:
  postgres-db:
    driver: local
  minio-data:
    driver: local

networks:
  api-backend-network:
    driver: bridge
